body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.wrapper {
    flex: 1;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px;
}
